.plate {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 4px solid #ffffff;
  transition: all 0.4s ease-in-out;
  transform: translateY(-100%);
}

.plate.show {
  transform: translateY(0);
  opacity: 1;
}

.plate-2 {
  background-color: #ffcc80;
  color: #000000;
  border: 4px solid #b38f5a;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-4 {
  background-color: #4fbfdb;
  color: #000000;
  border: 4px solid #4fbfdb;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-8 {
  background-color: #70db4f;
  color: #000000;
  border: 4px solid #70db4f;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-16 {
  background-color: #2e598b;
  color: #000000;
  border: 4px solid #2e598b;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-32 {
  background-color: #f6fa0d;
  color: #000000;
  border: 4px solid #f6fa0d;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-64 {
  background-color: #fa580d;
  color: #c7b1b1;
  border: 4px solid #fa580d;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-128 {
  background-color: #f6fa0d;
  color: #000000;
  border: 4px solid #f6fa0d;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-128 {
  background-color: #fa0d97;
  color: #000000;
  border: 4px solid #fa0d97;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-256 {
  background-color: #1e4919;
  color: #000000;
  border: 4px solid #1e4919;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-512 {
  background-color: #1517a3;
  color: #000000;
  border: 4px solid #1517a3;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-1024 {
  background-color: #5f4113;
  color: #000000;
  border: 4px solid #5f4113;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

.plate-2048 {
  background-color: #bd3737;
  color: #000000;
  border: 4px solid #bd3737;
  animation: plateScale 0.5s ease-in;
  animation-fill-mode: both; 
}

@keyframes plateScale {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.2); 
  }
  100% {
    transform: scale(1);
  }
}