.plate {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc1b2;
  transition: all 0.4s ease-in-out;
  transform: translate(-100%);
}

.plate.show {
  opacity: 1;
  transform: translate(0);
}

.plate-2 {
  background-color: #eee3da;
  color: #776e65;
  animation: plateScale 0.5s ease-in;
}

.plate-4 {
  background-color: #eee1c9;
  color: #776e65;
  animation: plateScale 0.5s ease-in;
}

.plate-8 {
  background-color: #f4b278;
  color: white;
  animation: plateScale 0.5s ease-in;
}

.plate-16 {
  background-color: #f89665;
  color: #ffffff;
  animation: plateScale 0.5s ease-in;
}

.plate-32 {
  background-color: #f77e5f;
  color: white;
  animation: plateScale 0.5s ease-in;
}

.plate-64 {
  background-color: #f75f3c;
  color: white;
  animation: plateScale 0.5s ease-in;
}

.plate-128 {
  background-color: #edd073;
  color: white;
  animation: plateScale 0.5s ease-in;
}

.plate-256 {
  background-color: #d0b663;
  color: white;
  animation: plateScale 0.5s ease-in;
}

.plate-512 {
  background-color: #aed063;
  color: white;
  animation: plateScale 0.5s ease-in;
}

.plate-1024 {
  background-color: #5f4113;
  color: #000000;
  animation: plateScale 0.5s ease-in;
}

.plate-2048 {
  background-color: #bd3737;
  color: #000000;
  animation: plateScale 0.5s ease-in;
}

@keyframes plateScale {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}